body {
    font-family: 'Arial', sans-serif;
    background: url('images/back.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    height: 100%;
}


.container {
    max-width: 400px;
    /*supprimer width : 70% si vous avez probleme avec responsive page*/
    width: 70%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.mt-3 {
    margin-top: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

.alert {
    margin-top: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    .container {
        max-width: 90%; /* Ajustez selon vos besoins */
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

a {
    color: #4c7caf; /* Vert foncé - ajustez selon vos préférences */
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #455da0; /* Vert plus clair lorsqu'il est survolé - ajustez selon vos préférences */
}


.btn-primary,
.btn-primary:hover {
    background-color: #5c6fec; /* Vert foncé - ajustez selon vos préférences */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Ajoutez cela pour les liens stylisés comme des boutons */
    transition: background-color 0.3s ease; 
}

.btn-primary:hover {
    background-color: #3e5883; /* Nouvelle couleur lors du survol */
}

/*
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.mt-3 {
    margin-top: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

/* Media Queries for Responsive Design */

/*
@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        max-width: 80%;
    }
}

.alert {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}



.logo {
    max-width: 200px; 
    height: auto;
    margin-bottom: 10px; 
}


.logo-container {
    text-align: center; 
    margin-bottom: 80px;
}

.logo {
    max-width: 150px; 
    display: block;
    margin: 0 auto; 
*/


/* Vos styles existants restent inchangés */


/*
.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #0056b3;
}*/


/*
a {
    color: #007bff; 
    text-decoration: none; 
    transition: color 0.3s ease; 

a:hover {
    color: #0056b3; 
}
*/
